# Entorno virtual
venv/
.env

# Archivos compilados en Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Archivos de la IDE y sistema
.vscode/
.DS_Store
~$*

# Archivos generados / temporales
# (Descomentar si no quieres versionar salidas generadas)
# outputs/resultados_exitosos.csv
# outputs/cuarentena.csv
