# Entorno virtual
venv/
.env

# Archivos compilados en Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Archivos de la IDE y sistema
.vscode/
.DS_Store
~$*

# Datos confidenciales de entrada
inputs/*.csv
!inputs/.gitkeep

# Resultados y salidas generadas
outputs/*.csv
!outputs/.gitkeep
